@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Satoshi";
}

.lightgraay-colored {
  color: #d8d5cb;
}

.magn {
  height: 48px;
  font-size: 17px;
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f2f0ea;
  outline: none;
  font-weight: 500;
  border-radius: 10px;
  color: #a4a4a4;
  width: 400px;
}

.hsi {
  position: relative;
  top: 5px;
}

.section-group {
  gap: 3vh;
}
.ylcm {
  color: #a79242;
}